<% include ../common-it_it/header.ejs %>

<h2>Hi <%=ninjaName%></h2>

<p><%=parentName%> (<%=parentEmail%>) has requested to add you as a Ninja to their account.</p>
<p>To approve this request, please click the following link: <a href="<%=link%>"><%=link%></a></p>

<% include ../common-it_it/footer.ejs %>