<% include ../common-en_US/header.ejs %>

<h2>Ciao <%=ninjaName%></h2>

<p><%=parentName%> (<%=parentEmail%>) ha chiesto di aggiungere come un Ninja al proprio account.</p>
<p>Per approvare la richiesta, clicca sul seguente link: <a href="<%=link%>"><%=link%></a></p>

<% include ../common-en_US/footer.ejs %>